@model MyBooks.Models.BooksModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BooksModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nameBook" class="control-label"></label>
                <input asp-for="nameBook" class="form-control" />
                <span asp-validation-for="nameBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="genreBook" class="control-label"></label>
                <input asp-for="genreBook" class="form-control" />
                <span asp-validation-for="genreBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="authorBook" class="control-label"></label>
                <input asp-for="authorBook" class="form-control" />
                <span asp-validation-for="authorBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pagesBook" class="control-label"></label>
                <input asp-for="pagesBook" class="form-control" />
                <span asp-validation-for="pagesBook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
